<!DOCTYPE html>
<html>
<head>
    <title>Psi Chi Event Organizer </title>
</head>
<body>
    <h1> welcome to the beginning of the home page</h1>
    <p> This app will gain more features!.</p>
</body>


</html>